<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <style>
      .row {
        display: flex;
      }
      .column {
        flex: 25%;
      }
    </style>
    <title>CS50 Flack</title>
  </head>
  <body>
  <h1>CS50 Flack</h1>
  <hr>
  <div class="row">
    <div id="channels" class="column"><span>Channels</span>
    <ul>
      <li>lobby</li>
    </ul>

    /** ------------------------  Working on channel sectiction ----------------------------- **/

    <button channel="/">lobby</button><br>
    <button channel="/fun">fun</button><br>
    </div>
    <div class="column">
    <ul id="messages">
    </ul>
  </div>
  </div>
    <hr>
        <form id="new-message">
            <input id="message" autocomplete="off" autofocus placeholder="Message" type="text">
            <input id="submit" type="submit">
        </form>
  </body>
</html>
