<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <style>
      .row {
        display: flex;
      }
      .column {
        flex: 25%;
      }
    </style>
    <title>CS50 Flack</title>
  </head>
  <body>
  <h1>CS50 Flack - Welcome <span id="nickname">{{ nickname }}</span> to <span id="room">{{ room }}</span></h1>
  <hr>
  <div class="row">
    <div id="channels" class="column">
      <form id="select_channel">
      <input id="channel" autocomplete="off" placeholder="Channel" type="text">
      <input id="select_channel" type="Submit">
      </form>
    </div>
    <div class="column">
    <ul id="messages">
    </ul>
  </div>
  </div>
    <hr>
        <form id="new-message">
            <input id="message" autocomplete="off" autofocus placeholder="Message" type="text">
            <input id="submit" type="submit">
        </form>
  </body>
</html>
